*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkslategray;
}

#start{
    position: absolute;
    padding: 8px 15px;
    border: none;
    background-color: gray;
}

#screen{
    background-color: rgb(31, 29, 29);
    padding: 50px;
    animation: countdown 4s 
}

#screen p{
    text-align: center;
    font-size: 50px;
    color: snow;
}

#screen2{
    height: 40px;
    width: 100px;
    background-color: white;
    margin: auto;
    padding: 10px;
}

#screen2 p{
    text-align: center;
    font-size: 33px;
}

#body{
    padding: 20px;
    text-align: center;
}

#body button{
    padding: 10px;
    margin: 0 20px;
    background-color:bisque;
    border-radius: 5%;
    border-style: none;
    position: relative;
    bottom: 30px;
    font-weight: bold;
}

#adders{
    text-align: center;
    margin: 20px;
}

#adders label{
    font-size: large;
    font-weight: bold;
} 

#adders input{
margin: 0 20px 0 0;
}